/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.lista {
  margin-top: 2em;
  width: 70%;
  margin-left: 1%;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
td div {
  max-height: 220px;
  text-align: initial;
  vertical-align: initial;
  overflow: auto;
}
.img {
  text-align: center;
  overflow: hidden;
}
#content {
  width:100%;
  left:0px;
  top:20px;
  bottom:20px;
  overflow: hidden;
}
button {
  border-radius: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
